<style>
    body {
        background-image: url('../../../assets/joker.avif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
</style>

<div class="booking-form">
    <h2>Book Your Movie</h2>
    <form>
        <div>
            <label for="movieName">Movie Name:</label>
            <input type="text" id="movieName" name="movieName" [value]="movie.movieName" readonly>
        </div>
        <div>
            <label for="movieLanguage">Language:</label>
            <input type="text" id="movieLanguage" name="movieLanguage" [value]="movie.language" readonly>
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" min="{{today | date: 'yyyy-MM-dd'}}">
        </div>
        <div>
            <label for="timing">Timing:</label>
            <select id="timing" name="timing">
                <option value="" disabled selected hidden>Choose Timing</option>
                <option value="morning">10-12am</option>
                <option value="afternoon">3-5pm</option>
                <option value="afternoon">5-7pm</option>
                <option value="evening">7-9pm</option>
                <option value="night">9-12pm</option>
            </select>
        </div>
        <div>
            <label for="seatNumber">Seat Number:</label>
            <input type="text" id="seatNumber" name="seatNumber">
        </div>
        <button type="submit">Book Now</button>
    </form>
</div>
