<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Login Page</label>
				<input type="text" name="txt" placeholder="Username" required="">
				
				<input type="password" name="pswd" placeholder="Password" required="">
                >
				<div class="hp">
				<select name="role" id="role" required="">
					<option value="admin">Admin</option>
					<option value="customer">Customer</option>
				</select>
				<button>Login</button>
            </div>
			</form>
		</div>

		<div class="login">
			<form>
				<label for="chk" aria-hidden="true">Register</label>
				<input type="text" name="txt" placeholder="Username" required="">
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<input type="password" name="pswd" placeholder="Confirm password" required="">
				<button>Register</button>
			</form>
		</div>
	</div>
</body>
</html>
