<div>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand " style="color: white;"  routerLink="/">Home</a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn()"
              >Sign-in</a
            >
            <a class="nav-link" (click)="signOut()" *ngIf="isLoggedIn()"
              >Sign Out</a
            >
          </li>
        
        </ul>
      </div>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  