.navbar {
    background-color: rgb(31, 126, 166);
    padding: 1rem;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .nav {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar .nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .navbar .nav-link:hover {
    background-color: #b1b4b6;
  }